body {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #7ce0f9;
}

.header {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: seagreen;
  float: left;
  padding: 12px;
}

h2 {
  font-size: 20px;
  color: tomato;
  float: left;
  margin-top: 45px;
}

.group {
  clear: both;
  display: block;
  content: "";
}

.canvas-container {
  width: 100%;
  text-align:center;
  position: relative;
}

canvas {
  display: inline;
  border: 5px solid black;
}

#score {
  float: right;
  position: absolute;
  right: 30%;
}

ul {
  list-style: none;
  float: right;
  margin-top: 45px;
}

li {
  float: left;
  border-right: 1px solid black;
}

li:last-child {
  border: none;
}

a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 20px;
}

.instruction-box {
  margin: 0 auto;
  width: 1000px;
}

.instruction-text {
  width: 1000px;
  font-size: 24px;
  color: lightcoral;
}

.instruction-image, .death-image {
  float: right;
  width: 250px;
  height: 220px;
  margin-left: 10px;
  margin-top: 50px;
}

.death-image {
  width: 225px;
  height: 200px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    height: 250px;
    font-family: 'Gloria Hallelujah', cursive;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.directions-text {
  width: 150px;
  text-align: center;
  float: left;
  position: absolute;
  margin-top: 90px;
}

.tutorial-title {
  margin-left: 10px;
  font-size: 22px;
}

.gameOver-title {
  color: red;
}

#gameOver-text {
  text-align: left;
}

#volume {
  width: 50px;
  height: auto;
  position: absolute;
  top: 0;
  left: 15%;
}
